# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [2]:
# load in the data
azdias = pd.read_csv('./data/Udacity_AZDIAS_052018.csv')
customers = pd.read_csv('./data/Udacity_CUSTOMERS_052018.csv')

# Ignore any empty columns while loading data
no_unamed = lambda x: 'Unnamed' not in x

attributes_values = pd.read_excel('./data/DIAS Attributes - Values 2017.xlsx', header=1, usecols=no_unamed)
attributes_info = pd.read_excel('./data/DIAS Information Levels - Attributes 2017.xlsx', header=1, usecols=no_unamed)

D:\Users\prana\Anaconda3\envs\Python3.7\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The warning says columns 18 and 19 have mixed data types, we can explore these two columns in later steps. This is one point to remember.

### Checking data shapes:

Verifying whether shapes of dataframes and the extra columns that are there in the customers dataset as per the description.

In [3]:
print("Azdias shape -",azdias.shape)
print("Customers shape -",customers.shape)

Azdias shape - (891221, 366)
Customers shape - (191652, 369)

In [4]:
print("Number of columns in Customers Data - ", len(list(customers.columns)))
print("Number of columns in Azdius Data - ", len(list(azdias.columns)))

extra_cols_in_customers = [col for col in customers.columns if col not in azdias.columns]
print("Extra columns in Customers Data - ",extra_cols_in_customers)

Number of columns in Customers Data -  369
Number of columns in Azdius Data -  366
Extra columns in Customers Data -  ['PRODUCT_GROUP', 'CUSTOMER_GROUP', 'ONLINE_PURCHASE']

The shapes and extra columns match the description.

### Checkng heads of dataframes:

In [5]:
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [6]:
customers.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

We can see there are a lot of missing values in both of the dataframes. Looking at the **extra columns** in the customers dataset.

In [7]:
customers[extra_cols_in_customers].head()

       PRODUCT_GROUP CUSTOMER_GROUP  ONLINE_PURCHASE
0  COSMETIC_AND_FOOD    MULTI_BUYER                0
1               FOOD   SINGLE_BUYER                0
2  COSMETIC_AND_FOOD    MULTI_BUYER                0
3           COSMETIC    MULTI_BUYER                0
4               FOOD    MULTI_BUYER                0

These three columns have specific information about the customers and their buying behavior.  We also have two extra dataframes with attribute information i.e. the information about what each column represents.

### Attribute values information

Additionally we have been given two excel sheets which we have already loaded into `attribute_values` and `attribute_info`dataframes.

* `attribute_values` - has a description of columns in `azdias`and `customers` data, information about range of values each column can take and their respective meanings.
* `attribute_info` - has detailed information about each column with additional notes wherever required.

We can use these two dataframes to understand the data.

In [10]:
attributes_values.head(15)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,NaN,NaN,0,no classification possible
2,NaN,NaN,1,passive elderly
3,NaN,NaN,2,cultural elderly
4,NaN,NaN,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,NaN,NaN,1,< 30 years
7,NaN,NaN,2,30 - 45 years
8,NaN,NaN,3,46 - 60 years
9,NaN,NaN,4,> 60 years
10,NaN,NaN,9,uniformly distributed
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
12,NaN,NaN,1,01.01.1895 bis 31.12.1899
13,NaN,NaN,2,01.01.1900 bis 31.12.1904
14,NaN,NaN,3,01.01.1905 bis 31.12.1909

As seen above each attribute has multiple rows corresponding to different values that attribute can have. We can use pandas `ffill()` method to fill the nan values in **Attribute** column to easily access all the information regarding an attribute in one go.

In [11]:
attributes_values["Attribute"] = attributes_values["Attribute"].ffill()
attributes_values.head(10)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,NaN,0,no classification possible
2,AGER_TYP,NaN,1,passive elderly
3,AGER_TYP,NaN,2,cultural elderly
4,AGER_TYP,NaN,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,NaN,1,< 30 years
7,ALTERSKATEGORIE_GROB,NaN,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,NaN,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,NaN,4,> 60 years

In [52]:
attributes_info.head(15)

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
5,NaN,FINANZ_SPARER,financial typology: money saver,NaN
6,NaN,FINANZ_VORSORGER,financial typology: be prepared,NaN
7,NaN,FINANZ_ANLEGER,financial typology: investor,NaN
8,NaN,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,NaN
9,NaN,FINANZ_HAUSBAUER,financial typology: main focus is the own house,NaN
10,NaN,FINANZTYP,best descirbing financial type for the peron,NaN
11,NaN,GEBURTSJAHR,year of birth,NaN
12,NaN,GFK_URLAUBERTYP,vacation habits,NaN
13,NaN,GREEN_AVANTGARDE,the environmental sustainability is the domina...,own typology based on modelled on different AZ...
14,NaN,HEALTH_TYP,health typology,in cooperation with Kantar TNS; the informatio...

### Addressing warning we got when loading data

Also, We can look at the datatypes of **columns 18 and 19** since we got a warning while we loaded the data.

In [14]:
print(azdias.columns[18:20])

warning_cols = list(azdias.columns[18:20])

Index(['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'], dtype='object')

We can see what thes two columns represent from the attributes dataframe.

In [15]:
attributes_values[attributes_values["Attribute"] == "CAMEO_DEUG_2015"]

,Attribute,Description,Value,Meaning
51,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
52,CAMEO_DEUG_2015,NaN,1,upper class
53,CAMEO_DEUG_2015,NaN,2,upper middleclass
54,CAMEO_DEUG_2015,NaN,3,established middleclasse
55,CAMEO_DEUG_2015,NaN,4,consumption-oriented middleclass
56,CAMEO_DEUG_2015,NaN,5,active middleclass
57,CAMEO_DEUG_2015,NaN,6,low-consumption middleclass
58,CAMEO_DEUG_2015,NaN,7,lower middleclass
59,CAMEO_DEUG_2015,NaN,8,working class
60,CAMEO_DEUG_2015,NaN,9,urban working class

In [16]:
# "CAMEO_INTL_2015" ---> named as "CAMEO_DEUINTL_2015" in attribute values excel sheet
attributes_values[attributes_values["Attribute"] == "CAMEO_DEUINTL_2015"]

,Attribute,Description,Value,Meaning
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
106,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,11,Wealthy Households-Pre-Family Couples & Singles
107,CAMEO_DEUINTL_2015,NaN,12,Wealthy Households-Young Couples With Children
108,CAMEO_DEUINTL_2015,NaN,13,Wealthy Households-Families With School Age Ch...
109,CAMEO_DEUINTL_2015,NaN,14,Wealthy Households-Older Families & Mature Co...
110,CAMEO_DEUINTL_2015,NaN,15,Wealthy Households-Elders In Retirement
111,CAMEO_DEUINTL_2015,NaN,21,Prosperous Households-Pre-Family Couples & Sin...
112,CAMEO_DEUINTL_2015,NaN,22,Prosperous Households-Young Couples With Children
113,CAMEO_DEUINTL_2015,NaN,23,Prosperous Households-Families With School Age...
114,CAMEO_DEUINTL_2015,NaN,24,Prosperous Households-Older Families & Mature ...
115,CAMEO_DEUINTL_2015,NaN,25,Prosperous Households-Elders In Retirement
116,CAMEO_DEUINTL_2015,NaN,31,Comfortable Households-Pre-Family Couples & Si...
117,CAMEO_DEUINTL_2015,NaN,32,Comfortable Households-Young Couples With Chil...
118,CAMEO_DEUINTL_2015,NaN,33,Comfortable Households-Families With School Ag...
119,CAMEO_DEUINTL_2015,NaN,34,Comfortable Households-Older Families & Mature...
120,CAMEO_DEUINTL_2015,NaN,35,Comfortable Households-Elders In Retirement
121,CAMEO_DEUINTL_2015,NaN,41,Less Affluent Households-Pre-Family Couples & ...
122,CAMEO_DEUINTL_2015,NaN,42,Less Affluent Households-Young Couples With Ch...
123,CAMEO_DEUINTL_2015,NaN,43,Less Affluent Households-Families With School ...
124,CAMEO_DEUINTL_2015,NaN,44,Less Affluent Households-Older Families & Matu...
125,CAMEO_DEUINTL_2015,NaN,45,Less Affluent Households-Elders In Retirement
126,CAMEO_DEUINTL_2015,NaN,51,Poorer Households-Pre-Family Couples & Singles
127,CAMEO_DEUINTL_2015,NaN,52,Poorer Households-Young Couples With Children
128,CAMEO_DEUINTL_2015,NaN,53,Poorer Households-Families With School Age Chi...
129,CAMEO_DEUINTL_2015,NaN,54,Poorer Households-Older Families & Mature Couples
130,CAMEO_DEUINTL_2015,NaN,55,Poorer Households-Elders In Retirement

Looking at above two dataframes, we can conclude that these two columns must have values in the range given in the "Value" column i.e. -1 for unknown and integer values for corresponding categories.

We can have a look at the values that are in the actual dataframes by printing the unique values in these columns.

In [17]:
azdias[warning_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CAMEO_DEUG_2015  792242 non-null  object
 1   CAMEO_INTL_2015  792242 non-null  object
dtypes: object(2)
memory usage: 13.6+ MB

In [18]:
azdias[warning_cols[0]].unique()

array([nan, 8.0, 4.0, 2.0, 6.0, 1.0, 9.0, 5.0, 7.0, 3.0, '4', '3', '7',
       '2', '8', '9', '6', '5', '1', 'X'], dtype=object)

In [19]:
azdias[warning_cols[1]].unique()

array([nan, 51.0, 24.0, 12.0, 43.0, 54.0, 22.0, 14.0, 13.0, 15.0, 33.0,
       41.0, 34.0, 55.0, 25.0, 23.0, 31.0, 52.0, 35.0, 45.0, 44.0, 32.0,
       '22', '24', '41', '12', '54', '51', '44', '35', '23', '25', '14',
       '34', '52', '55', '31', '32', '15', '13', '43', '33', '45', 'XX'],
      dtype=object)

In [20]:
customers[warning_cols[0]].unique()

array([1.0, nan, 5.0, 4.0, 7.0, 3.0, 9.0, 2.0, 6.0, 8.0, '6', '3', '8',
       '9', '2', '4', '1', '7', '5', 'X'], dtype=object)

In [21]:
customers[warning_cols[1]].unique()

array([13.0, nan, 34.0, 24.0, 41.0, 23.0, 15.0, 55.0, 14.0, 22.0, 43.0,
       51.0, 33.0, 25.0, 44.0, 54.0, 32.0, 12.0, 35.0, 31.0, 45.0, 52.0,
       '45', '25', '55', '51', '14', '54', '43', '22', '15', '24', '35',
       '23', '12', '44', '41', '52', '31', '13', '34', '32', '33', 'XX'],
      dtype=object)

We have 'X' and 'XX' as values in these columns which have not been given in the description, also there are 'nan' values.

These values can be replaced with 'np.nan', as in the attributes dataframe it is described that any unknown values can be treated as '-1' but for simpicity we can consider this '-1' as 'np.nan'. Also there is inconsistency in the values i.e. some of them are strings and some of them are floats. We can to convert all of them into integers.

In [22]:
def fix_cameo_cols(df):
    """
    Function to replace 'X', 'XX' and 'nan' values with -1 in columns ['CAMEO_DEUG_2015', 'CAMEO_INTL_2015']
    """
    cols = ["CAMEO_DEUG_2015", "CAMEO_INTL_2015"]
    
    df[cols] = df[cols].replace({"X": np.nan, "XX": np.nan})
    df[cols] = df[cols].astype(float)
    
    return df

In [23]:
customers = fix_cameo_cols(customers)

azdias = fix_cameo_cols(azdias)

In [24]:
customers[warning_cols[1]].unique()

array([13., nan, 34., 24., 41., 23., 15., 55., 14., 22., 43., 51., 33.,
       25., 44., 54., 32., 12., 35., 31., 45., 52.])

In [25]:
azdias[warning_cols[1]].unique()

array([nan, 51., 24., 12., 43., 54., 22., 14., 13., 15., 33., 41., 34.,
       55., 25., 23., 31., 52., 35., 45., 44., 32.])

In [26]:
print(azdias.shape, customers.shape)

(891221, 366) (191652, 369)

As we can see now we dont have invalid entries in these two columns. Although we have 'nan' values which we are going to address in further analysis.


### What each column represents

Lets explore what each column represents and understand a bit more about the data. For this we are going to use the `attributes_values` dataframe since it has all the column names and their descriptions with corresponding values.

In [112]:
attributes_values.head(10)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,NaN,0,no classification possible
2,AGER_TYP,NaN,1,passive elderly
3,AGER_TYP,NaN,2,cultural elderly
4,AGER_TYP,NaN,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,NaN,1,< 30 years
7,ALTERSKATEGORIE_GROB,NaN,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,NaN,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,NaN,4,> 60 years

Attribute info description 
* Attribute - is the column name.
* Description - containes a short description about what that column represents.
* Value - range of values that are recorded during data collection
* Meaning - meaning of corresponding value

We can have a look at all the attributes, and their description. Also at the same time what are the values recorded for unknown observations of each attribute. This will help us clean our data i.e. replacing all the values which are unknown with np.nan like we did with the columns 18, 19.

In [125]:
pd.set_option("display.max_rows", 500)
attributes_values.dropna()

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
33,ANREDE_KZ,gender,"-1, 0",unknown
36,ANZ_HAUSHALTE_AKTIV,number of households in the building,…,numeric value (typically coded from 1-10)
37,ANZ_HH_TITEL,number of academic title holder in building,…,numeric value (typically coded from 1-10)
38,ANZ_PERSONEN,number of adult persons in the household,…,numeric value (typically coded from 1-3)
39,ANZ_TITEL,number of professional title holder in household,…,numeric value (typically coded from 1-10)
40,BALLRAUM,distance to next urban centre,-1,unknown
48,BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown
51,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
61,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
106,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,11,Wealthy Households-Pre-Family Couples & Singles
131,CJT_GESAMTTYP,customer journey typology,0,unknown
138,D19_BANKEN_ANZ_12,transaction activity BANKS in the last 12 months,0,no transactions known
145,D19_BANKEN_ANZ_24,transaction activity BANKS in the last 24 months,0,no transactions known
152,D19_BANKEN_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
162,D19_BANKEN_DIREKT_RZ,transactional activity based on the product gr...,0,no transaction known
163,D19_BANKEN_DIREKT_RZ,- on grid level -,1,Multibuyer 0-12 months
170,D19_BANKEN_GROSS_RZ,transactional activity based on the product gr...,0,no transaction known
171,D19_BANKEN_GROSS_RZ,- on grid level -,1,Multibuyer 0-12 months
178,D19_BANKEN_LOKAL_RZ,transactional activity based on the product gr...,0,no transaction known
179,D19_BANKEN_LOKAL_RZ,- on grid level -,1,Multibuyer 0-12 months
186,D19_BANKEN_OFFLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
196,D19_BANKEN_ONLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
206,D19_BANKEN_ONLINE_QUOTE_12,amount of online transactions within all trans...,0,no Online-transactions within the last 12 months
217,D19_BANKEN_REST_RZ,transactional activity based on the product gr...,0,no transaction known
218,D19_BANKEN_REST_RZ,- on grid level -,1,Multibuyer 0-12 months
225,D19_BEKLEIDUNG_GEH_RZ,transactional activity based on the product gr...,0,no transaction known
226,D19_BEKLEIDUNG_GEH_RZ,- on grid level -,1,Multibuyer 0-12 months
233,D19_BEKLEIDUNG_REST_RZ,transactional activity based on the product gr...,0,no transaction known
234,D19_BEKLEIDUNG_REST_RZ,- on grid level -,1,Multibuyer 0-12 months
241,D19_BILDUNG_RZ,transactional activity based on the product gr...,0,no transaction known
242,D19_BILDUNG_RZ,- on grid level -,1,Multibuyer 0-12 months
249,D19_BIO_OEKO_RZ,transactional activity based on the product gr...,0,no transaction known
250,D19_BIO_OEKO_RZ,- on grid level -,1,Multibuyer 0-12 months
257,D19_BUCH_RZ,transactional activity based on the product gr...,0,no transaction known
258,D19_BUCH_RZ,- on grid level -,1,Multibuyer 0-12 months
265,D19_DIGIT_SERV_RZ,transactional activity based on the product gr...,0,no transaction known
266,D19_DIGIT_SERV_RZ,- on grid level -,1,Multibuyer 0-12 months
273,D19_DROGERIEARTIKEL_RZ,transactional activity based on the product gr...,0,no transaction known
274,D19_DROGERIEARTIKEL_RZ,- on grid level -,1,Multibuyer 0-12 months
281,D19_ENERGIE_RZ,transactional activity based on the product gr...,0,no transaction known
282,D19_ENERGIE_RZ,- on grid level -,1,Multibuyer 0-12 months
289,D19_FREIZEIT_RZ,transactional activity based on the product gr...,0,no transaction known
290,D19_FREIZEIT_RZ,- on grid level -,1,Multibuyer 0-12 months
297,D19_GARTEN_RZ,transactional activity based on the product gr...,0,no transaction known
298,D19_GARTEN_RZ,- on grid level -,1,Multibuyer 0-12 months
305,D19_GESAMT_ANZ_12,transaction activity TOTAL POOL in the last 12...,0,no transactions known
312,D19_GESAMT_ANZ_24,transaction activity TOTAL POOL in the last 24...,0,no transactions known
319,D19_GESAMT_DATUM,actuality of the last transaction with the com...,1,highest activity within the last 12 months
329,D19_GESAMT_OFFLINE_DATUM,actuality of the last transaction with the com...,1,highest activity within the last 12 months
339,D19_GESAMT_ONLINE_DATUM,actuality of the last transaction with the com...,1,highest activity within the last 12 months
349,D19_GESAMT_ONLINE_QUOTE_12,amount of online transactions within all trans...,0,no Online-transactions within the last 12 months
360,D19_HANDWERK_RZ,transactional activity based on the product gr...,0,no transaction known
361,D19_HANDWERK_RZ,- on grid level -,1,Multibuyer 0-12 months
368,D19_HAUS_DEKO_RZ,transactional activity based on the product gr...,0,no transaction known
369,D19_HAUS_DEKO_RZ,- on grid level -,1,Multibuyer 0-12 months
376,D19_KINDERARTIKEL_RZ,transactional activity based on the product gr...,0,no transaction known
377,D19_KINDERARTIKEL_RZ,- on grid level -,1,Multibuyer 0-12 months
384,D19_KONSUMTYP,consumption type,1,Universal
391,D19_KK_KUNDENTYP,consumption movement in the last 12 months,-1,unknown
398,D19_KOSMETIK_RZ,transactional activity based on the product gr...,0,no transaction known
399,D19_KOSMETIK_RZ,- on grid level -,1,Multibuyer 0-12 months
406,D19_LEBENSMITTEL_RZ,transactional activity based on the product gr...,0,no transaction known
407,D19_LEBENSMITTEL_RZ,- on grid level -,1,Multibuyer 0-12 months
414,D19_LOTTO_RZ,transactional activity based on the product gr...,0,no transaction known
415,D19_LOTTO_RZ,- on grid level -,1,Multibuyer 0-12 months
422,D19_NAHRUNGSERGAENZUNG_RZ,transactional activity based on the product gr...,0,no transaction known
423,D19_NAHRUNGSERGAENZUNG_RZ,- on grid level -,1,Multibuyer 0-12 months
430,D19_RATGEBER_RZ,transactional activity based on the product gr...,0,no transaction known
431,D19_RATGEBER_RZ,- on grid level -,1,Multibuyer 0-12 months
438,D19_REISEN_RZ,transactional activity based on the product gr...,0,no transaction known
439,D19_REISEN_RZ,- on grid level -,1,Multibuyer 0-12 months
446,D19_SAMMELARTIKEL_RZ,transactional activity based on the product gr...,0,no transaction known
447,D19_SAMMELARTIKEL_RZ,- on grid level -,1,Multibuyer 0-12 months
454,D19_SCHUHE_RZ,transactional activity based on the product gr...,0,no transaction known
455,D19_SCHUHE_RZ,- on grid level -,1,Multibuyer 0-12 months
462,D19_SONSTIGE_RZ,transactional activity based on the product gr...,0,no transaction known
463,D19_SONSTIGE_RZ,- on grid level -,1,Multibuyer 0-12 months
470,D19_TECHNIK_RZ,transactional activity based on the product gr...,0,no transaction known
471,D19_TECHNIK_RZ,- on grid level -,1,Multibuyer 0-12 months
478,D19_TELKO_ANZ_12,transaction activity TELCO in the last 12 months,0,no transactions known
485,D19_TELKO_ANZ_24,transaction activity TELCO in the last 24 months,0,no transactions known
492,D19_TELKO_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
502,D19_TELKO_MOBILE_RZ,transactional activity based on the product gr...,0,no transaction known
503,D19_TELKO_MOBILE_RZ,- on grid level -,1,Multibuyer 0-12 months
510,D19_TELKO_OFFLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
520,D19_TELKO_ONLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
530,D19_TELKO_REST_RZ,transactional activity based on the product gr...,0,no transaction known
531,D19_TELKO_REST_RZ,- on grid level -,1,Multibuyer 0-12 months
538,D19_TIERARTIKEL_RZ,transactional activity based on the product gr...,0,no transaction known
539,D19_TIERARTIKEL_RZ,- on grid level -,1,Multibuyer 0-12 months
546,D19_VERSAND_ANZ_12,transaction activity MAIL-ORDER in the last 12...,0,no transactions known
553,D19_VERSAND_ANZ_24,transaction activity MAIL-ORDER in the last 24...,0,no transactions known
560,D19_VERSAND_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
570,D19_VERSAND_OFFLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
580,D19_VERSAND_ONLINE_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
590,D19_VERSAND_ONLINE_QUOTE_12,amount of online transactions within all trans...,0,no Online-transactions within the last 12 months
601,D19_VERSAND_REST_RZ,transactional activity based on the product gr...,0,no transaction known
602,D19_VERSAND_REST_RZ,- on grid level -,1,Multibuyer 0-12 months
609,D19_VERSICHERUNGEN_RZ,transactional activity based on the product gr...,0,no transaction known
610,D19_VERSICHERUNGEN_RZ,- on grid level -,1,Multibuyer 0-12 months
617,D19_VERSI_ANZ_12,transaction activity INSURANCE in the last 12 ...,0,no transactions known
624,D19_VERSI_ANZ_24,transaction activity INSURANCE in the last 24 ...,0,no transactions known
631,D19_VOLLSORTIMENT_RZ,transactional activity based on the product gr...,0,no transaction known
632,D19_VOLLSORTIMENT_RZ,- on grid level -,1,Multibuyer 0-12 months
639,D19_WEIN_FEINKOST_RZ,transactional activity based on the product gr...,0,no transaction known
640,D19_WEIN_FEINKOST_RZ,- on grid level -,1,Multibuyer 0-12 months
647,EWDICHTE,density of inhabitants per square kilometer,-1,unknown
654,FINANZTYP,best descirbing financial type for the person,-1,unknown
661,FINANZ_ANLEGER,financial typology: investor,-1,unknown
667,FINANZ_HAUSBAUER,financial typology: main focus is the own house,-1,unknown
673,FINANZ_MINIMALIST,financial typology: low financial interest,-1,unknown
679,FINANZ_SPARER,financial typology: money saver,-1,unknown
685,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,-1,unknown
691,FINANZ_VORSORGER,financial typology: be prepared,-1,unknown
697,GEBAEUDETYP,type of building (residential or commercial),"-1, 0",unknown
706,GEBAEUDETYP_RASTER,industrial areas,1,business cell
711,GEBURTSJAHR,year of birth,…,numeric value
712,GFK_URLAUBERTYP,vacation habits,1,Event travelers
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,"-1, 0",unknown
732,GREEN_AVANTGARDE,Green avantgarde,0,doesn't belong to the green avantgarde
733,GREEN_AVANTGARDE,the environmental sustainability is the domina...,1,belongs to the green avantgarde
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...","-1, 0",unknown
744,HEALTH_TYP,health typology,-1,unknown
749,HH_EINKOMMEN_SCORE,estimated household net income,"-1, 0",unknown
756,INNENSTADT,distance to the city centre,-1,unknown
765,KBA05_ALTER1,share of car owners less than 31 years old,"-1, 9",unknown
771,KBA05_ALTER2,share of car owners inbetween 31 and 45 years ...,"-1, 9",unknown
777,KBA05_ALTER3,share of car owners inbetween 45 and 60 years ...,"-1, 9",unknown
783,KBA05_ALTER4,share of cars owners elder than 61 years,"-1, 9",unknown
790,KBA05_ANHANG,share of trailers in the microcell,"-1, 9",unknown
795,KBA05_ANTG1,number of 1-2 family houses in the cell,-1,unknown
801,KBA05_ANTG2,number of 3-5 family houses in the cell,-1,unknown
807,KBA05_ANTG3,number of 6-10 family houses in the cell,-1,unknown
812,KBA05_ANTG4,number of >10 family houses in the cell,-1,unknown
816,KBA05_AUTOQUOT,share of cars per household,1,very low car quote
822,KBA05_BAUMAX,most common building-type within the cell,"-1, 0",unknown
828,KBA05_CCM1,share of cars with less than 1399ccm,"-1, 9",unknown
834,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm,"-1, 9",unknown
840,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm,"-1, 9",unknown
846,KBA05_CCM4,share of cars with more than 2499ccm,"-1, 9",unknown
852,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,"-1, 9",unknown
858,KBA05_FRAU,share of female car owners,"-1, 9",unknown
864,KBA05_GBZ,number of buildings in the microcell,"-1, 0",unknown
870,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)","-1, 9",unknown
877,KBA05_HERST2,share of Volkswagen-Cars (including Audi),"-1, 9",unknown
884,KBA05_HERST3,share of Ford/Opel,"-1, 9",unknown
891,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peu...","-1, 9",unknown
898,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...","-1, 9",unknown
905,KBA05_HERSTTEMP,development of the most common car manufacture...,"-1, 9",unknown
911,KBA05_KRSAQUOT,share of cars per household (reffered to count...,"-1, 9",unknown
917,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county ...,"-1, 9",unknown
923,KBA05_KRSHERST2,share of Volkswagen (reffered to the county av...,"-1, 9",unknown
929,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county ave...,"-1, 9",unknown
935,KBA05_KRSKLEIN,share of small cars (referred to the county av...,"-1, 9",unknown
939,KBA05_KRSOBER,share of upper class cars (referred to the cou...,"-1, 9",unknown
943,KBA05_KRSVAN,share of vans (referred to the county average),"-1, 9",unknown
947,KBA05_KRSZUL,share of newbuilt cars (referred to the county...,"-1, 9",unknown
951,KBA05_KW1,share of cars with less than 59 KW engine power,"-1, 9",unknown
957,KBA05_KW2,share of cars with an engine power between 60 ...,"-1, 9",unknown
963,KBA05_KW3,share of cars with an engine power of more tha...,"-1, 9",unknown
969,KBA05_MAXAH,most common age of car owners in the microcell,"-1, 9",unknown
975,KBA05_MAXBJ,most common age of the cars in the microcell,"-1, 9",unknown
980,KBA05_MAXHERST,most common car manufacturer in the microcell,"-1, 9",unknown
986,KBA05_MAXSEG,most common car segment in the microcell,"-1, 9",unknown
991,KBA05_MAXVORB,most common preowner structure in the microcell,"-1, 9",unknown
995,KBA05_MOD1,share of upper class cars (in an AZ specific d...,"-1, 9",unknown
1001,KBA05_MOD2,share of middle class cars (in an AZ specific ...,"-1, 9",unknown
1007,KBA05_MOD3,share of Golf-class cars (in an AZ specific de...,"-1, 9",unknown
1013,KBA05_MOD4,share of small cars (in an AZ specific definit...,"-1, 9",unknown
1020,KBA05_MOD8,share of vans (in an AZ specific definition),"-1, 9",unknown
1025,KBA05_MODTEMP,development of the most common car segment in ...,"-1, 9",unknown
1031,KBA05_MOTOR,most common engine size in the microcell,"-1, 9",unknown
1036,KBA05_MOTRAD,share of motorcycles per household,"-1, 9",unknown
1041,KBA05_SEG1,share of very small cars (Ford Ka etc.) in the...,"-1, 9",unknown
1046,KBA05_SEG10,"share of more specific cars (Vans, convertable...","-1, 9",unknown
1052,KBA05_SEG2,share of small and very small cars (Ford Fiest...,"-1, 9",unknown
1058,KBA05_SEG3,share of lowe midclass cars (Ford Focus etc.) ...,"-1, 9",unknown
1064,KBA05_SEG4,share of middle class cars (Ford Mondeo etc.) ...,"-1, 9",unknown
1070,KBA05_SEG5,share of upper middle class cars and upper cla...,"-1, 9",unknown
1076,KBA05_SEG6,share of upper class cars (BMW 7er etc.) in th...,"-1, 9",unknown
1079,KBA05_SEG7,share of all-terrain vehicles and MUVs in the ...,"-1, 9",unknown
1084,KBA05_SEG8,share of roadster and convertables in the micr...,"-1, 9",unknown
1089,KBA05_SEG9,share of vans in the microcell,"-1, 9",unknown
1094,KBA05_VORB0,share of cars with no preowner,"-1, 9",unknown
1100,KBA05_VORB1,share of cars with one or two preowner,"-1, 9",unknown
1106,KBA05_VORB2,share of cars with more than two preowner,"-1, 9",unknown
1113,KBA05_ZUL1,share of cars built before 1994,"-1, 9",unknown
1119,KBA05_ZUL2,share of cars built between 1994 and 2000,"-1, 9",unknown
1125,KBA05_ZUL3,share of cars built between 2001 and 2002,"-1, 9",unknown
1132,KBA05_ZUL4,share of cars built from 2003 on,"-1, 9",unknown
1139,KBA13_ALTERHALTER_30,share of car owners below 31 within the PLZ8,-1,unknown
1146,KBA13_ALTERHALTER_45,share of car owners between 31 and 45 within t...,-1,unknown
1153,KBA13_ALTERHALTER_60,share of car owners between 46 and 60 within t...,-1,unknown
1160,KBA13_ALTERHALTER_61,share of car owners elder than 61 within the PLZ8,-1,unknown
1167,KBA13_ANZAHL_PKW,number of cars in the PLZ8,…,numeric value
1168,KBA13_AUDI,share of AUDI within the PLZ8,-1,unknown
1175,KBA13_AUTOQUOTE,share of cars per household within the PLZ8,-1,unknown
1182,KBA13_BJ_1999,share of cars built between 1995 and 1999 with...,-1,unknown
1189,KBA13_BJ_2000,share of cars built between 2000 and 2003 with...,-1,unknown
1196,KBA13_BJ_2004,share of cars built before 2004 within the PLZ8,-1,unknown
1203,KBA13_BJ_2006,share of cars built between 2005 and 2006 with...,-1,unknown
1210,KBA13_BJ_2008,share of cars built in 2008 within the PLZ8,-1,unknown
1217,KBA13_BJ_2009,share of cars built in 2009 within the PLZ8,-1,unknown
1224,KBA13_BMW,share of BMW within the PLZ8,-1,unknown
1231,KBA13_CCM_1000,share of cars with less than 1000ccm within th...,-1,unknown
1238,KBA13_CCM_1200,share of cars with 1000ccm to 1199ccm within t...,-1,unknown
1245,KBA13_CCM_1400,share of cars with 1200ccm to 1399ccm within t...,-1,unknown
1252,KBA13_CCM_0_1400,share of cars with less than 1400ccm within th...,-1,unknown
1259,KBA13_CCM_1500,share of cars with 1400ccm to 1499ccm within t...,-1,unknown
1266,KBA13_CCM_1400_2500,share of cars with 1400ccm to 2499ccm within t...,-1,unknown
1273,KBA13_CCM_1600,share of cars with 1500ccm to 1599ccm within t...,-1,unknown
1280,KBA13_CCM_1800,share of cars with 1600ccm to 1799ccm within t...,-1,unknown
1287,KBA13_CCM_2000,share of cars with 1800ccm to 1999ccm within t...,-1,unknown
1294,KBA13_CCM_2500,share of cars with 2000ccm to 2499ccm within t...,-1,unknown
1301,KBA13_CCM_2501,share of cars with more than 2500ccm within th...,-1,unknown
1308,KBA13_CCM_3000,share of cars with 2500ccm to 2999ccm within t...,-1,unknown
1315,KBA13_CCM_3001,share of cars with more than 3000ccm within th...,-1,unknown
1322,KBA13_FAB_ASIEN,share of other Asian Manufacturers within the ...,-1,unknown
1329,KBA13_FAB_SONSTIGE,share of other Manufacturers within the PLZ8,-1,unknown
1336,KBA13_FIAT,share of FIAT within the PLZ8,-1,unknown
1343,KBA13_FORD,share of FORD within the PLZ8,-1,unknown
1350,KBA13_HALTER_20,share of car owners below 21 within the PLZ8,-1,unknown
1357,KBA13_HALTER_25,share of car owners between 21 and 25 within t...,-1,unknown
1364,KBA13_HALTER_30,share of car owners between 26 and 30 within t...,-1,unknown
1371,KBA13_HALTER_35,share of car owners between 31 and 35 within t...,-1,unknown
1378,KBA13_HALTER_40,share of car owners between 36 and 40 within t...,-1,unknown
1385,KBA13_HALTER_45,share of car owners between 41 and 45 within t...,-1,unknown
1392,KBA13_HALTER_50,share of car owners between 46 and 50 within t...,-1,unknown
1399,KBA13_HALTER_55,share of car owners between 51 and 55 within t...,-1,unknown
1406,KBA13_HALTER_60,share of car owners between 56 and 60 within t...,-1,unknown
1413,KBA13_HALTER_65,share of car owners between 61 and 65 within t...,-1,unknown
1420,KBA13_HALTER_66,share of car owners over 66 within the PLZ8,-1,unknown
1427,KBA13_HERST_ASIEN,share of Asian Manufacturers within the PLZ8,-1,unknown
1434,KBA13_HERST_AUDI_VW,share of Volkswagen & Audi within the PLZ8,-1,unknown
1441,KBA13_HERST_BMW_BENZ,share of BMW & Mercedes Benz within the PLZ8,-1,unknown
1448,KBA13_HERST_EUROPA,share of European cars within the PLZ8,-1,unknown
1455,KBA13_HERST_FORD_OPEL,share of Ford & Opel/Vauxhall within the PLZ8,-1,unknown
1462,KBA13_HERST_SONST,share of other cars within the PLZ8,-1,unknown
1469,KBA13_KMH_110,share of cars with max speed 110 km/h within t...,-1,unknown
1476,KBA13_KMH_140,share of cars with max speed between 110 km/h ...,-1,unknown
1483,KBA13_KMH_180,share of cars with max speed between 110 km/h ...,-1,unknown
1490,KBA13_KMH_0_140,share of cars with max speed 140 km/h within t...,-1,unknown

By observing above dataframes, we can conclude that

* Not all the features have unknown values. Some of them have values specified and might not have nan values in the collected data. This means the features with no unkown values might be compulsory fields in a form.

* We can replace all the **unkown** values with 'np.nan' values. 

We can have a look at how many columns all the data frames have in common and how many columns are specific to each dataframe.

In [31]:
attributes_list  = attributes_values.Attribute.unique().tolist()
azdias_list = list(azdias.columns)
customers_list = list(customers.columns)

In [33]:
common_to_all = (set(attributes_list) & set(azdias_list) & set(customers_list))
unique_to_azdias = (set(azdias_list) - set(attributes_list) - set(customers_list))
unique_to_customers = (set(customers_list) - set(attributes_list) - set(azdias_list))
unique_to_attributes = (set(attributes_list) - set(customers_list) - set(azdias_list))
unique_to_attributes_vs_azdias = (set(attributes_list) - set(azdias_list))
unique_to_azdias_vs_attributes = (set(attributes_list) - set(azdias_list))
common_azdias_attributes = (set(azdias_list) & set(attributes_list))

print("No of columns common to all 3 daframes: ", str(len(common_to_all)))
print("No of columns specific to azdias: " + str(len(unique_to_azdias)))
print("No of columns specific to customers: " + str(len(unique_to_customers)))
print("No of columns specific to attributes: " + str(len(unique_to_attributes)))
print("No of columns common between azdias and attributes: " + str(len(common_azdias_attributes)))
print("No of columns exclusive to attributes vs azdias: " + str(len(unique_to_attributes_vs_azdias)))
print("No of columns exclusive to azdias vs attributes: " + str(len(unique_to_azdias_vs_attributes)))

No of columns common to all 3 daframes:  272
No of columns specific to azdias: 0
No of columns specific to customers: 3
No of columns specific to attributes: 42
No of columns common between azdias and attributes: 272
No of columns exclusive to attributes vs azdias: 42
No of columns exclusive to azdias vs attributes: 42

* We have 42 unique columns given in the attribute-values data which are not present in azdias or customer data. This might be due to errors in recording these columns. We can go further correcting these mistakes and analysing what is the reason behing these missing columns. But for this analysis we are going to neglect this information and consider only the 272 columns which are common to all three dataframes to replace the 'unkown' values.

In [77]:
# unkown_attributes_values = attributes_values[(attributes_values["Meaning"] == "unknown") | ("no" in attributes_values["Meaning"])]

unkown_attributes_values = attributes_values[attributes_values["Meaning"] == "unknown"]
print(len(unkown_attributes_values))

232

We have **232** columns which have unkoen values.

In [78]:
unkown_attributes_values

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
33,ANREDE_KZ,gender,"-1, 0",unknown
40,BALLRAUM,distance to next urban centre,-1,unknown
48,BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown
51,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
131,CJT_GESAMTTYP,customer journey typology,0,unknown
391,D19_KK_KUNDENTYP,consumption movement in the last 12 months,-1,unknown
647,EWDICHTE,density of inhabitants per square kilometer,-1,unknown
654,FINANZTYP,best descirbing financial type for the person,-1,unknown
661,FINANZ_ANLEGER,financial typology: investor,-1,unknown
667,FINANZ_HAUSBAUER,financial typology: main focus is the own house,-1,unknown
673,FINANZ_MINIMALIST,financial typology: low financial interest,-1,unknown
679,FINANZ_SPARER,financial typology: money saver,-1,unknown
685,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,-1,unknown
691,FINANZ_VORSORGER,financial typology: be prepared,-1,unknown
697,GEBAEUDETYP,type of building (residential or commercial),"-1, 0",unknown
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,"-1, 0",unknown
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...","-1, 0",unknown
744,HEALTH_TYP,health typology,-1,unknown
749,HH_EINKOMMEN_SCORE,estimated household net income,"-1, 0",unknown
756,INNENSTADT,distance to the city centre,-1,unknown
765,KBA05_ALTER1,share of car owners less than 31 years old,"-1, 9",unknown
771,KBA05_ALTER2,share of car owners inbetween 31 and 45 years ...,"-1, 9",unknown
777,KBA05_ALTER3,share of car owners inbetween 45 and 60 years ...,"-1, 9",unknown
783,KBA05_ALTER4,share of cars owners elder than 61 years,"-1, 9",unknown
790,KBA05_ANHANG,share of trailers in the microcell,"-1, 9",unknown
795,KBA05_ANTG1,number of 1-2 family houses in the cell,-1,unknown
801,KBA05_ANTG2,number of 3-5 family houses in the cell,-1,unknown
807,KBA05_ANTG3,number of 6-10 family houses in the cell,-1,unknown
812,KBA05_ANTG4,number of >10 family houses in the cell,-1,unknown
821,KBA05_AUTOQUOT,NaN,"-1, 9",unknown
822,KBA05_BAUMAX,most common building-type within the cell,"-1, 0",unknown
828,KBA05_CCM1,share of cars with less than 1399ccm,"-1, 9",unknown
834,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm,"-1, 9",unknown
840,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm,"-1, 9",unknown
846,KBA05_CCM4,share of cars with more than 2499ccm,"-1, 9",unknown
852,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,"-1, 9",unknown
858,KBA05_FRAU,share of female car owners,"-1, 9",unknown
864,KBA05_GBZ,number of buildings in the microcell,"-1, 0",unknown
870,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)","-1, 9",unknown
877,KBA05_HERST2,share of Volkswagen-Cars (including Audi),"-1, 9",unknown
884,KBA05_HERST3,share of Ford/Opel,"-1, 9",unknown
891,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peu...","-1, 9",unknown
898,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...","-1, 9",unknown
905,KBA05_HERSTTEMP,development of the most common car manufacture...,"-1, 9",unknown
911,KBA05_KRSAQUOT,share of cars per household (reffered to count...,"-1, 9",unknown
917,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county ...,"-1, 9",unknown
923,KBA05_KRSHERST2,share of Volkswagen (reffered to the county av...,"-1, 9",unknown
929,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county ave...,"-1, 9",unknown
935,KBA05_KRSKLEIN,share of small cars (referred to the county av...,"-1, 9",unknown
939,KBA05_KRSOBER,share of upper class cars (referred to the cou...,"-1, 9",unknown
943,KBA05_KRSVAN,share of vans (referred to the county average),"-1, 9",unknown
947,KBA05_KRSZUL,share of newbuilt cars (referred to the county...,"-1, 9",unknown
951,KBA05_KW1,share of cars with less than 59 KW engine power,"-1, 9",unknown
957,KBA05_KW2,share of cars with an engine power between 60 ...,"-1, 9",unknown
963,KBA05_KW3,share of cars with an engine power of more tha...,"-1, 9",unknown
969,KBA05_MAXAH,most common age of car owners in the microcell,"-1, 9",unknown
975,KBA05_MAXBJ,most common age of the cars in the microcell,"-1, 9",unknown
980,KBA05_MAXHERST,most common car manufacturer in the microcell,"-1, 9",unknown
986,KBA05_MAXSEG,most common car segment in the microcell,"-1, 9",unknown
991,KBA05_MAXVORB,most common preowner structure in the microcell,"-1, 9",unknown
995,KBA05_MOD1,share of upper class cars (in an AZ specific d...,"-1, 9",unknown
1001,KBA05_MOD2,share of middle class cars (in an AZ specific ...,"-1, 9",unknown
1007,KBA05_MOD3,share of Golf-class cars (in an AZ specific de...,"-1, 9",unknown
1013,KBA05_MOD4,share of small cars (in an AZ specific definit...,"-1, 9",unknown
1020,KBA05_MOD8,share of vans (in an AZ specific definition),"-1, 9",unknown
1025,KBA05_MODTEMP,development of the most common car segment in ...,"-1, 9",unknown
1031,KBA05_MOTOR,most common engine size in the microcell,"-1, 9",unknown
1036,KBA05_MOTRAD,share of motorcycles per household,"-1, 9",unknown
1041,KBA05_SEG1,share of very small cars (Ford Ka etc.) in the...,"-1, 9",unknown
1046,KBA05_SEG10,"share of more specific cars (Vans, convertable...","-1, 9",unknown
1052,KBA05_SEG2,share of small and very small cars (Ford Fiest...,"-1, 9",unknown
1058,KBA05_SEG3,share of lowe midclass cars (Ford Focus etc.) ...,"-1, 9",unknown
1064,KBA05_SEG4,share of middle class cars (Ford Mondeo etc.) ...,"-1, 9",unknown
1070,KBA05_SEG5,share of upper middle class cars and upper cla...,"-1, 9",unknown
1076,KBA05_SEG6,share of upper class cars (BMW 7er etc.) in th...,"-1, 9",unknown
1079,KBA05_SEG7,share of all-terrain vehicles and MUVs in the ...,"-1, 9",unknown
1084,KBA05_SEG8,share of roadster and convertables in the micr...,"-1, 9",unknown
1089,KBA05_SEG9,share of vans in the microcell,"-1, 9",unknown
1094,KBA05_VORB0,share of cars with no preowner,"-1, 9",unknown
1100,KBA05_VORB1,share of cars with one or two preowner,"-1, 9",unknown
1106,KBA05_VORB2,share of cars with more than two preowner,"-1, 9",unknown
1113,KBA05_ZUL1,share of cars built before 1994,"-1, 9",unknown
1119,KBA05_ZUL2,share of cars built between 1994 and 2000,"-1, 9",unknown
1125,KBA05_ZUL3,share of cars built between 2001 and 2002,"-1, 9",unknown
1132,KBA05_ZUL4,share of cars built from 2003 on,"-1, 9",unknown
1139,KBA13_ALTERHALTER_30,share of car owners below 31 within the PLZ8,-1,unknown
1146,KBA13_ALTERHALTER_45,share of car owners between 31 and 45 within t...,-1,unknown
1153,KBA13_ALTERHALTER_60,share of car owners between 46 and 60 within t...,-1,unknown
1160,KBA13_ALTERHALTER_61,share of car owners elder than 61 within the PLZ8,-1,unknown
1168,KBA13_AUDI,share of AUDI within the PLZ8,-1,unknown
1175,KBA13_AUTOQUOTE,share of cars per household within the PLZ8,-1,unknown
1182,KBA13_BJ_1999,share of cars built between 1995 and 1999 with...,-1,unknown
1189,KBA13_BJ_2000,share of cars built between 2000 and 2003 with...,-1,unknown
1196,KBA13_BJ_2004,share of cars built before 2004 within the PLZ8,-1,unknown
1203,KBA13_BJ_2006,share of cars built between 2005 and 2006 with...,-1,unknown
1210,KBA13_BJ_2008,share of cars built in 2008 within the PLZ8,-1,unknown
1217,KBA13_BJ_2009,share of cars built in 2009 within the PLZ8,-1,unknown
1224,KBA13_BMW,share of BMW within the PLZ8,-1,unknown
1231,KBA13_CCM_1000,share of cars with less than 1000ccm within th...,-1,unknown
1238,KBA13_CCM_1200,share of cars with 1000ccm to 1199ccm within t...,-1,unknown
1245,KBA13_CCM_1400,share of cars with 1200ccm to 1399ccm within t...,-1,unknown
1252,KBA13_CCM_0_1400,share of cars with less than 1400ccm within th...,-1,unknown
1259,KBA13_CCM_1500,share of cars with 1400ccm to 1499ccm within t...,-1,unknown
1266,KBA13_CCM_1400_2500,share of cars with 1400ccm to 2499ccm within t...,-1,unknown
1273,KBA13_CCM_1600,share of cars with 1500ccm to 1599ccm within t...,-1,unknown
1280,KBA13_CCM_1800,share of cars with 1600ccm to 1799ccm within t...,-1,unknown
1287,KBA13_CCM_2000,share of cars with 1800ccm to 1999ccm within t...,-1,unknown
1294,KBA13_CCM_2500,share of cars with 2000ccm to 2499ccm within t...,-1,unknown
1301,KBA13_CCM_2501,share of cars with more than 2500ccm within th...,-1,unknown
1308,KBA13_CCM_3000,share of cars with 2500ccm to 2999ccm within t...,-1,unknown
1315,KBA13_CCM_3001,share of cars with more than 3000ccm within th...,-1,unknown
1322,KBA13_FAB_ASIEN,share of other Asian Manufacturers within the ...,-1,unknown
1329,KBA13_FAB_SONSTIGE,share of other Manufacturers within the PLZ8,-1,unknown
1336,KBA13_FIAT,share of FIAT within the PLZ8,-1,unknown
1343,KBA13_FORD,share of FORD within the PLZ8,-1,unknown
1350,KBA13_HALTER_20,share of car owners below 21 within the PLZ8,-1,unknown
1357,KBA13_HALTER_25,share of car owners between 21 and 25 within t...,-1,unknown
1364,KBA13_HALTER_30,share of car owners between 26 and 30 within t...,-1,unknown
1371,KBA13_HALTER_35,share of car owners between 31 and 35 within t...,-1,unknown
1378,KBA13_HALTER_40,share of car owners between 36 and 40 within t...,-1,unknown
1385,KBA13_HALTER_45,share of car owners between 41 and 45 within t...,-1,unknown
1392,KBA13_HALTER_50,share of car owners between 46 and 50 within t...,-1,unknown
1399,KBA13_HALTER_55,share of car owners between 51 and 55 within t...,-1,unknown
1406,KBA13_HALTER_60,share of car owners between 56 and 60 within t...,-1,unknown
1413,KBA13_HALTER_65,share of car owners between 61 and 65 within t...,-1,unknown
1420,KBA13_HALTER_66,share of car owners over 66 within the PLZ8,-1,unknown
1427,KBA13_HERST_ASIEN,share of Asian Manufacturers within the PLZ8,-1,unknown
1434,KBA13_HERST_AUDI_VW,share of Volkswagen & Audi within the PLZ8,-1,unknown
1441,KBA13_HERST_BMW_BENZ,share of BMW & Mercedes Benz within the PLZ8,-1,unknown
1448,KBA13_HERST_EUROPA,share of European cars within the PLZ8,-1,unknown
1455,KBA13_HERST_FORD_OPEL,share of Ford & Opel/Vauxhall within the PLZ8,-1,unknown
1462,KBA13_HERST_SONST,share of other cars within the PLZ8,-1,unknown
1469,KBA13_KMH_110,share of cars with max speed 110 km/h within t...,-1,unknown
1476,KBA13_KMH_140,share of cars with max speed between 110 km/h ...,-1,unknown
1483,KBA13_KMH_180,share of cars with max speed between 110 km/h ...,-1,unknown
1490,KBA13_KMH_0_140,share of cars with max speed 140 km/h within t...,-1,unknown
1497,KBA13_KMH_140_210,share of cars with max speed between 140 and 2...,-1,unknown
1504,KBA13_KMH_211,share of cars with a greater max speed than 21...,-1,unknown
1511,KBA13_KMH_250,share of cars with max speed between 210 and 2...,-1,unknown
1518,KBA13_KMH_251,share of cars with a greater max speed than 25...,-1,unknown
1525,KBA13_KRSAQUOT,share of cars per household (referred to the c...,-1,unknown
1532,KBA13_KRSHERST_AUDI_VW,share of Volkswagen (referred to the county av...,-1,unknown
1539,KBA13_KRSHERST_BMW_BENZ,share of BMW/Mercedes Benz (referred to the co...,-1,unknown
1546,KBA13_KRSHERST_FORD_OPEL,share of FORD/Opel (referred to the county ave...,-1,unknown
1553,KBA13_KRSSEG_KLEIN,share of small cars (referred to the county av...,-1,unknown
1558,KBA13_KRSSEG_OBER,share of upper class cars (referred to the cou...,-1,unknown
1563,KBA13_KRSSEG_VAN,share of vans (referred to the county average)...,-1,unknown
1568,KBA13_KRSZUL_NEU,share of newbuilt cars (referred to the county...,-1,unknown
1573,KBA13_KW_30,share of cars up to 30 KW engine power - PLZ8,-1,unknown
1580,KBA13_KW_40,share of cars with an engine power between 31 ...,-1,unknown
1587,KBA13_KW_50,share of cars with an engine power between 41 ...,-1,unknown
1594,KBA13_KW_60,share of cars with an engine power between 51 ...,-1,unknown
1601,KBA13_KW_0_60,share of cars up to 60 KW engine power - PLZ8,-1,unknown
1608,KBA13_KW_70,share of cars with an engine power between 61 ...,-1,unknown
1615,KBA13_KW_61_120,share of cars with an engine power between 61 ...,-1,unknown
1622,KBA13_KW_80,share of cars with an engine power between 71 ...,-1,unknown
1629,KBA13_KW_90,share of cars with an engine power between 81 ...,-1,unknown
1636,KBA13_KW_110,share of cars with an engine power between 91 ...,-1,unknown
1643,KBA13_KW_120,share of cars with an engine power between 111...,-1,unknown
1650,KBA13_KW_121,share of cars with an engine power more than 1...,-1,unknown
1657,KBA13_MAZDA,share of MAZDA within the PLZ8,-1,unknown
1664,KBA13_MERCEDES,share of MERCEDES within the PLZ8,-1,unknown
1671,KBA13_MOTOR,most common motor size within the PLZ8,-1,unknown
1677,KBA13_NISSAN,share of NISSAN within the PLZ8,-1,unknown
1684,KBA13_OPEL,share of OPEL within the PLZ8,-1,unknown
1691,KBA13_PEUGEOT,share of PEUGEOT within the PLZ8,-1,unknown
1698,KBA13_RENAULT,share of RENAULT within the PLZ8,-1,unknown
1705,KBA13_SEG_GELAENDEWAGEN,share of allterrain within the PLZ8,-1,unknown
1712,KBA13_SEG_GROSSRAUMVANS,share of big sized vans within the PLZ8,-1,unknown
1719,KBA13_SEG_KLEINST,share of very small cars (Ford Ka etc.) in the...,-1,unknown
1726,KBA13_SEG_KLEINWAGEN,share of small and very small cars (Ford Fiest...,-1,unknown
1733,KBA13_SEG_KOMPAKTKLASSE,share of lowe midclass cars (Ford Focus etc.) ...,-1,unknown
1740,KBA13_SEG_MINIVANS,share of minivans within the PLZ8,-1,unknown
1747,KBA13_SEG_MINIWAGEN,share of minicars within the PLZ8,-1,unknown
1754,KBA13_SEG_MITTELKLASSE,share of middle class cars (Ford Mondeo etc.) ...,-1,unknown
1761,KBA13_SEG_OBEREMITTELKLASSE,share of upper middle class cars and upper cla...,-1,unknown
1768,KBA13_SEG_OBERKLASSE,share of upper class cars (BMW 7er etc.) in th...,-1,unknown
1775,KBA13_SEG_SONSTIGE,share of other cars within the PLZ8,-1,unknown
1782,KBA13_SEG_SPORTWAGEN,share of sportscars within the PLZ8,-1,unknown
1789,KBA13_SEG_UTILITIES,share of MUVs/SUVs within the PLZ8,-1,unknown
1796,KBA13_SEG_VAN,share of vans within the PLZ8,-1,unknown
1803,KBA13_SEG_WOHNMOBILE,share of roadmobiles within the PLZ8,-1,unknown
1810,KBA13_SITZE_4,number of cars with less than 5 seats in the PLZ8,-1,unknown
1817,KBA13_SITZE_5,number of cars with 5 seats in the PLZ8,-1,unknown
1824,KBA13_SITZE_6,number of cars with more than 5 seats in the PLZ8,-1,unknown
1831,KBA13_TOYOTA,share of TOYOTA within the PLZ8,-1,unknown
1838,KBA13_VORB_0,share of cars with no preowner - PLZ8,-1,unknown
1845,KBA13_VORB_1,share of cars with 1 preowner - PLZ8,-1,unknown
1852,KBA13_VORB_1_2,share of cars with 1 or 2 preowner - PLZ8,-1,unknown
1859,KBA13_VORB_2,share of cars with 2 preowner - PLZ8,-1,unknown
1866,KBA13_VORB_3,share of cars with 3 or more preowner - PLZ8,-1,unknown
1873,KBA13_VW,share of VOLKSWAGEN within the PLZ8,-1,unknown
1880,KKK,purchasing power,"-1, 0",unknown
1993,NATIONALITAET_KZ,nationaltity (scored by prename analysis),"-1, 0",unknown
2003,ORTSGR_KLS9,size of the community,-1,unknown
2013,OST_WEST_KZ,flag indicating the former GDR/FRG,-1,unknown
2016,PLZ8_ANTG1,number of 1-2 family houses in the PLZ8,-1,unknown
2022,PLZ8_ANTG2,number of 3-5 family houses in the PLZ8,-1,unknown
2028,PLZ8_ANTG3,number of 6-10 family houses in the PLZ8,-1,unknown
2033,PLZ8_ANTG4,number of >10 family houses in the PLZ8,-1,unknown
2042,PLZ8_GBZ,number of buildings within the PLZ8,-1,unknown
2048,PLZ8_HHZ,number of households within the PLZ8,-1,unknown
2054,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,"-1, 0",unknown
2070,REGIOTYP,neighbourhood,"-1, 0",unknown
2083,RELAT_AB,NaN,"-1, 9",unknown
2084,RETOURTYP_BK_S,return type,0,unknown
2090,SEMIO_DOM,affinity indicating in what way the person is ...,"-1, 9",unknown
2098,SEMIO_ERL,affinity indicating in what way the person is ...,"-1, 9",unknown
2106,SEMIO_FAM,affinity indicating in what way the person is ...,"-1, 9",unknown
2114,SEMIO_KAEM,affinity indicating in what way the person is ...,"-1, 9",unknown
2122,SEMIO_KRIT,affinity indicating in what way the person is ...,"-1, 9",unknown
2130,SEMIO_KULT,affinity indicating in what way the person is ...,"-1, 9",unknown
2138,SEMIO_LUST,affinity indicating in what way the person is ...,"-1, 9",unknown
2146,SEMIO_MAT,affinity indicating in what way the person is ...,"-1, 9",unknown
2154,SEMIO_PFLICHT,affinity indicating in what way the person is ...,"-1, 9",unknown
2162,SEMIO_RAT,affinity indicating in what way the person is ...,"-1, 9",unknown
2170,SEMIO_REL,affinity indicating in what way the person is ...,"-1, 9",unknown
2178,SEMIO_SOZ,affinity indicating in what way the person is ...,"-1, 9",unknown
2186,SEMIO_TRADV,affinity indicating in what way the person is ...,"-1, 9",unknown
2194,SEMIO_VERT,affinity indicating in what way the person is ...,"-1, 9",unknown
2202,SHOPPER_TYP,shopping typology,-1,unknown
2207,SOHO_FLAG,small office/home office flag,-1,unknown
2210,TITEL_KZ,flag whether this person holds an academic title,"-1, 0",unknown
2216,VERS_TYP,insurance typology,-1,unknown
2219,WOHNDAUER_2008,length of residence,"-1, 0",unknown
2229,WOHNLAGE,residential-area,-1,unknown
2238,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2251,ZABEOTYP,typification of energy consumers,"-1, 9",unknown

In [79]:
def get_unkown_repr(attrib):
    """Returns the representation of unkown values"""
    
    unkown = unkown_attributes_values[unkown_attributes_values["Attribute"] == attrib]["Value"]
    unkown = unkown.astype(str).str.cat(sep=",")
    unkown = [int(x) for x in unkown.split(",")]
      
    return [unkown]

def replace_unkown_with_nan(val, unkown):
    """Replaces unkown values with np.nan values if the value mathes with the unkown representation"""
    if val in unkown:
        return np.nan
    else:
        return val

In [82]:
ager_typ_unkwon = get_unkown_repr("AGER_TYP")

print(ager_typ_unkwon)

[[-1]]

lets have a look at azdias dataframe before replacing all the 'unkown' values.

In [68]:
azdias.head(15)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3
5,910244,3,1.0,10.0,NaN,NaN,NaN,NaN,10.0,5.0,...,2.0,10.0,7.0,4.0,6.0,9.0,7.0,4,2,1
6,910248,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,...,2.0,7.0,10.0,10.0,3.0,9.0,5.0,4,2,2
7,910261,-1,1.0,14.0,NaN,NaN,NaN,NaN,14.0,6.0,...,2.0,10.0,12.0,9.0,5.0,9.0,1.0,1,1,1
8,645145,-1,9.0,16.0,NaN,NaN,NaN,NaN,16.0,2.0,...,4.0,8.0,11.0,8.0,5.0,8.0,1.0,6,1,3
9,645153,-1,5.0,17.0,NaN,NaN,NaN,NaN,17.0,9.0,...,4.0,1.0,1.0,1.0,4.0,3.0,7.0,4,2,3
10,645165,0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,6.0,...,4.0,8.0,11.0,10.0,6.0,9.0,5.0,3,2,3
11,645169,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
12,612558,-1,5.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,4.0,3.0,5.0,3.0,6.0,4.0,3.0,1,1,3
13,612561,-1,8.0,20.0,NaN,NaN,NaN,NaN,20.0,2.0,...,NaN,3.0,6.0,8.0,6.0,3.0,5.0,5,2,1
14,612565,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,3

Looking at second column `AGER_TYP` there are a lot of *-1*s which correspond to **unkown** values. To convert all these values into `np.nan` values we first have to get the **value** which corresponds to unkown value from the `attribute_value` data and then replace these values.

In [85]:
azdias["AGER_TYP"] = azdias["AGER_TYP"].apply(replace_unkown_with_nan, args=(ager_typ_unkwon))

In [86]:
azdias.head(15)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,NaN,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,NaN,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2.0,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,NaN,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3
5,910244,3.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,5.0,...,2.0,10.0,7.0,4.0,6.0,9.0,7.0,4,2,1
6,910248,NaN,9.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,...,2.0,7.0,10.0,10.0,3.0,9.0,5.0,4,2,2
7,910261,NaN,1.0,14.0,NaN,NaN,NaN,NaN,14.0,6.0,...,2.0,10.0,12.0,9.0,5.0,9.0,1.0,1,1,1
8,645145,NaN,9.0,16.0,NaN,NaN,NaN,NaN,16.0,2.0,...,4.0,8.0,11.0,8.0,5.0,8.0,1.0,6,1,3
9,645153,NaN,5.0,17.0,NaN,NaN,NaN,NaN,17.0,9.0,...,4.0,1.0,1.0,1.0,4.0,3.0,7.0,4,2,3
10,645165,0.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,6.0,...,4.0,8.0,11.0,10.0,6.0,9.0,5.0,3,2,3
11,645169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
12,612558,NaN,5.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,4.0,3.0,5.0,3.0,6.0,4.0,3.0,1,1,3
13,612561,NaN,8.0,20.0,NaN,NaN,NaN,NaN,20.0,2.0,...,NaN,3.0,6.0,8.0,6.0,3.0,5.0,5,2,1
14,612565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,3

We can repeat the same thing for all the 232 columns with unkwon values.

In [89]:
def replace_unkowns(df, unkown_attributes_values, verbose=False):
    """
    Replaces unkown values to 'np.nan' in all the columns provided in unkown_attributes_values list.
    """
    for attrib in unkown_attributes_values.Attribute:
        unkown = get_unkown_repr(attrib)
        if verbose:
            print("Replacing {} to NaN in Attribute {}".format(unkown, attrib))
        if attrib in df.columns:
            df[attrib] = df[attrib].apply(replace_unkown_with_nan, args=(unkown))
    return df

In [88]:
azdias = replace_unkowns(azdias, unkown_attributes_values, verbose=True)

Replacing [[-1]] to NaN in Attribute AGER_TYP
Replacing [[-1, 0]] to NaN in Attribute ALTERSKATEGORIE_GROB
Replacing [[-1, 0]] to NaN in Attribute ANREDE_KZ
Replacing [[-1]] to NaN in Attribute BALLRAUM
Replacing [[-1]] to NaN in Attribute BIP_FLAG
Replacing [[-1]] to NaN in Attribute CAMEO_DEUG_2015
Replacing [[-1]] to NaN in Attribute CAMEO_DEUINTL_2015
Replacing [[0]] to NaN in Attribute CJT_GESAMTTYP
Replacing [[-1]] to NaN in Attribute D19_KK_KUNDENTYP
Replacing [[-1]] to NaN in Attribute EWDICHTE
Replacing [[-1]] to NaN in Attribute FINANZTYP
Replacing [[-1]] to NaN in Attribute FINANZ_ANLEGER
Replacing [[-1]] to NaN in Attribute FINANZ_HAUSBAUER
Replacing [[-1]] to NaN in Attribute FINANZ_MINIMALIST
Replacing [[-1]] to NaN in Attribute FINANZ_SPARER
Replacing [[-1]] to NaN in Attribute FINANZ_UNAUFFAELLIGER
Replacing [[-1]] to NaN in Attribute FINANZ_VORSORGER
Replacing [[-1, 0]] to NaN in Attribute GEBAEUDETYP
Replacing [[-1, 0]] to NaN in Attribute GEOSCORE_KLS7
Replacing [[-1, 0]] to NaN in Attribute HAUSHALTSSTRUKTUR
Replacing [[-1]] to NaN in Attribute HEALTH_TYP
Replacing [[-1, 0]] to NaN in Attribute HH_EINKOMMEN_SCORE
Replacing [[-1]] to NaN in Attribute INNENSTADT
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER1
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER3
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER4
Replacing [[-1, 9]] to NaN in Attribute KBA05_ANHANG
Replacing [[-1]] to NaN in Attribute KBA05_ANTG1
Replacing [[-1]] to NaN in Attribute KBA05_ANTG2
Replacing [[-1]] to NaN in Attribute KBA05_ANTG3
Replacing [[-1]] to NaN in Attribute KBA05_ANTG4
Replacing [[-1, 9]] to NaN in Attribute KBA05_AUTOQUOT
Replacing [[-1, 0]] to NaN in Attribute KBA05_BAUMAX
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM1
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM2
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM3
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM4
Replacing [[-1, 9]] to NaN in Attribute KBA05_DIESEL
Replacing [[-1, 9]] to NaN in Attribute KBA05_FRAU
Replacing [[-1, 0]] to NaN in Attribute KBA05_GBZ
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST1
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST2
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST3
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST4
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST5
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERSTTEMP
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSAQUOT
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST1
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST2
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST3
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSKLEIN
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSOBER
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSVAN
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSZUL
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW1
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW2
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW3
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXAH
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXBJ
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXHERST
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXSEG
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXVORB
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD1
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD2
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD3
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD4
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD8
Replacing [[-1, 9]] to NaN in Attribute KBA05_MODTEMP
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOTOR
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOTRAD
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG1
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG10
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG2
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG3
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG4
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG5
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG6
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG7
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG8
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG9
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB0
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB1
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL1
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL3
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL4
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_30
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_45
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_60
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_61
Replacing [[-1]] to NaN in Attribute KBA13_AUDI
Replacing [[-1]] to NaN in Attribute KBA13_AUTOQUOTE
Replacing [[-1]] to NaN in Attribute KBA13_BJ_1999
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2000
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2004
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2006
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2008
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2009
Replacing [[-1]] to NaN in Attribute KBA13_BMW
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1200
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1400
Replacing [[-1]] to NaN in Attribute KBA13_CCM_0_1400
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1400_2500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1600
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1800
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2501
Replacing [[-1]] to NaN in Attribute KBA13_CCM_3000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_3001
Replacing [[-1]] to NaN in Attribute KBA13_FAB_ASIEN
Replacing [[-1]] to NaN in Attribute KBA13_FAB_SONSTIGE
Replacing [[-1]] to NaN in Attribute KBA13_FIAT
Replacing [[-1]] to NaN in Attribute KBA13_FORD
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_20
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_25
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_30
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_35
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_40
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_45
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_50
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_55
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_60
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_65
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_66
Replacing [[-1]] to NaN in Attribute KBA13_HERST_ASIEN
Replacing [[-1]] to NaN in Attribute KBA13_HERST_AUDI_VW
Replacing [[-1]] to NaN in Attribute KBA13_HERST_BMW_BENZ
Replacing [[-1]] to NaN in Attribute KBA13_HERST_EUROPA
Replacing [[-1]] to NaN in Attribute KBA13_HERST_FORD_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_HERST_SONST
Replacing [[-1]] to NaN in Attribute KBA13_KMH_110
Replacing [[-1]] to NaN in Attribute KBA13_KMH_140
Replacing [[-1]] to NaN in Attribute KBA13_KMH_180
Replacing [[-1]] to NaN in Attribute KBA13_KMH_0_140
Replacing [[-1]] to NaN in Attribute KBA13_KMH_140_210
Replacing [[-1]] to NaN in Attribute KBA13_KMH_211
Replacing [[-1]] to NaN in Attribute KBA13_KMH_250
Replacing [[-1]] to NaN in Attribute KBA13_KMH_251
Replacing [[-1]] to NaN in Attribute KBA13_KRSAQUOT
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_AUDI_VW
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_BMW_BENZ
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_FORD_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_KLEIN
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_OBER
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_VAN
Replacing [[-1]] to NaN in Attribute KBA13_KRSZUL_NEU
Replacing [[-1]] to NaN in Attribute KBA13_KW_30
Replacing [[-1]] to NaN in Attribute KBA13_KW_40
Replacing [[-1]] to NaN in Attribute KBA13_KW_50
Replacing [[-1]] to NaN in Attribute KBA13_KW_60
Replacing [[-1]] to NaN in Attribute KBA13_KW_0_60

Replacing [[-1]] to NaN in Attribute KBA13_KW_70
Replacing [[-1]] to NaN in Attribute KBA13_KW_61_120
Replacing [[-1]] to NaN in Attribute KBA13_KW_80
Replacing [[-1]] to NaN in Attribute KBA13_KW_90
Replacing [[-1]] to NaN in Attribute KBA13_KW_110
Replacing [[-1]] to NaN in Attribute KBA13_KW_120
Replacing [[-1]] to NaN in Attribute KBA13_KW_121
Replacing [[-1]] to NaN in Attribute KBA13_MAZDA
Replacing [[-1]] to NaN in Attribute KBA13_MERCEDES
Replacing [[-1]] to NaN in Attribute KBA13_MOTOR
Replacing [[-1]] to NaN in Attribute KBA13_NISSAN
Replacing [[-1]] to NaN in Attribute KBA13_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_PEUGEOT
Replacing [[-1]] to NaN in Attribute KBA13_RENAULT
Replacing [[-1]] to NaN in Attribute KBA13_SEG_GELAENDEWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_GROSSRAUMVANS
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KLEINST
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KLEINWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KOMPAKTKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MINIVANS
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MINIWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MITTELKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_OBEREMITTELKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_OBERKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_SONSTIGE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_SPORTWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_UTILITIES
Replacing [[-1]] to NaN in Attribute KBA13_SEG_VAN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_WOHNMOBILE
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_4
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_5
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_6
Replacing [[-1]] to NaN in Attribute KBA13_TOYOTA
Replacing [[-1]] to NaN in Attribute KBA13_VORB_0
Replacing [[-1]] to NaN in Attribute KBA13_VORB_1
Replacing [[-1]] to NaN in Attribute KBA13_VORB_1_2
Replacing [[-1]] to NaN in Attribute KBA13_VORB_2
Replacing [[-1]] to NaN in Attribute KBA13_VORB_3
Replacing [[-1]] to NaN in Attribute KBA13_VW
Replacing [[-1, 0]] to NaN in Attribute KKK
Replacing [[-1, 0]] to NaN in Attribute NATIONALITAET_KZ
Replacing [[-1]] to NaN in Attribute ORTSGR_KLS9
Replacing [[-1]] to NaN in Attribute OST_WEST_KZ
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG1
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG2
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG3
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG4
Replacing [[-1]] to NaN in Attribute PLZ8_GBZ
Replacing [[-1]] to NaN in Attribute PLZ8_HHZ
Replacing [[-1, 0]] to NaN in Attribute PRAEGENDE_JUGENDJAHRE
Replacing [[-1, 0]] to NaN in Attribute REGIOTYP
Replacing [[-1, 9]] to NaN in Attribute RELAT_AB
Replacing [[0]] to NaN in Attribute RETOURTYP_BK_S
Replacing [[-1, 9]] to NaN in Attribute SEMIO_DOM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_ERL
Replacing [[-1, 9]] to NaN in Attribute SEMIO_FAM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KAEM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KRIT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KULT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_LUST
Replacing [[-1, 9]] to NaN in Attribute SEMIO_MAT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_PFLICHT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_RAT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_REL
Replacing [[-1, 9]] to NaN in Attribute SEMIO_SOZ
Replacing [[-1, 9]] to NaN in Attribute SEMIO_TRADV
Replacing [[-1, 9]] to NaN in Attribute SEMIO_VERT
Replacing [[-1]] to NaN in Attribute SHOPPER_TYP
Replacing [[-1]] to NaN in Attribute SOHO_FLAG
Replacing [[-1, 0]] to NaN in Attribute TITEL_KZ
Replacing [[-1]] to NaN in Attribute VERS_TYP
Replacing [[-1, 0]] to NaN in Attribute WOHNDAUER_2008
Replacing [[-1]] to NaN in Attribute WOHNLAGE
Replacing [[-1, 0]] to NaN in Attribute WACHSTUMSGEBIET_NB
Replacing [[-1, 0]] to NaN in Attribute W_KEIT_KIND_HH
Replacing [[-1, 9]] to NaN in Attribute ZABEOTYP

In [90]:
customers = replace_unkowns(customers, unkown_attributes_values, verbose=True)

Replacing [[-1]] to NaN in Attribute AGER_TYP
Replacing [[-1, 0]] to NaN in Attribute ALTERSKATEGORIE_GROB
Replacing [[-1, 0]] to NaN in Attribute ANREDE_KZ
Replacing [[-1]] to NaN in Attribute BALLRAUM
Replacing [[-1]] to NaN in Attribute BIP_FLAG
Replacing [[-1]] to NaN in Attribute CAMEO_DEUG_2015
Replacing [[-1]] to NaN in Attribute CAMEO_DEUINTL_2015
Replacing [[0]] to NaN in Attribute CJT_GESAMTTYP
Replacing [[-1]] to NaN in Attribute D19_KK_KUNDENTYP
Replacing [[-1]] to NaN in Attribute EWDICHTE
Replacing [[-1]] to NaN in Attribute FINANZTYP
Replacing [[-1]] to NaN in Attribute FINANZ_ANLEGER
Replacing [[-1]] to NaN in Attribute FINANZ_HAUSBAUER
Replacing [[-1]] to NaN in Attribute FINANZ_MINIMALIST
Replacing [[-1]] to NaN in Attribute FINANZ_SPARER
Replacing [[-1]] to NaN in Attribute FINANZ_UNAUFFAELLIGER
Replacing [[-1]] to NaN in Attribute FINANZ_VORSORGER
Replacing [[-1, 0]] to NaN in Attribute GEBAEUDETYP
Replacing [[-1, 0]] to NaN in Attribute GEOSCORE_KLS7
Replacing [[-1, 0]] to NaN in Attribute HAUSHALTSSTRUKTUR
Replacing [[-1]] to NaN in Attribute HEALTH_TYP
Replacing [[-1, 0]] to NaN in Attribute HH_EINKOMMEN_SCORE
Replacing [[-1]] to NaN in Attribute INNENSTADT
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER1
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER3
Replacing [[-1, 9]] to NaN in Attribute KBA05_ALTER4
Replacing [[-1, 9]] to NaN in Attribute KBA05_ANHANG
Replacing [[-1]] to NaN in Attribute KBA05_ANTG1
Replacing [[-1]] to NaN in Attribute KBA05_ANTG2
Replacing [[-1]] to NaN in Attribute KBA05_ANTG3
Replacing [[-1]] to NaN in Attribute KBA05_ANTG4
Replacing [[-1, 9]] to NaN in Attribute KBA05_AUTOQUOT
Replacing [[-1, 0]] to NaN in Attribute KBA05_BAUMAX
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM1
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM2
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM3
Replacing [[-1, 9]] to NaN in Attribute KBA05_CCM4
Replacing [[-1, 9]] to NaN in Attribute KBA05_DIESEL
Replacing [[-1, 9]] to NaN in Attribute KBA05_FRAU
Replacing [[-1, 0]] to NaN in Attribute KBA05_GBZ
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST1
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST2
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST3
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST4
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERST5
Replacing [[-1, 9]] to NaN in Attribute KBA05_HERSTTEMP
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSAQUOT
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST1
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST2
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSHERST3
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSKLEIN
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSOBER
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSVAN
Replacing [[-1, 9]] to NaN in Attribute KBA05_KRSZUL
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW1
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW2
Replacing [[-1, 9]] to NaN in Attribute KBA05_KW3
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXAH
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXBJ
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXHERST
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXSEG
Replacing [[-1, 9]] to NaN in Attribute KBA05_MAXVORB
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD1
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD2
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD3
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD4
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOD8
Replacing [[-1, 9]] to NaN in Attribute KBA05_MODTEMP
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOTOR
Replacing [[-1, 9]] to NaN in Attribute KBA05_MOTRAD
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG1
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG10
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG2
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG3
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG4
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG5
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG6
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG7
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG8
Replacing [[-1, 9]] to NaN in Attribute KBA05_SEG9
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB0
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB1
Replacing [[-1, 9]] to NaN in Attribute KBA05_VORB2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL1
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL2
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL3
Replacing [[-1, 9]] to NaN in Attribute KBA05_ZUL4
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_30
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_45
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_60
Replacing [[-1]] to NaN in Attribute KBA13_ALTERHALTER_61
Replacing [[-1]] to NaN in Attribute KBA13_AUDI
Replacing [[-1]] to NaN in Attribute KBA13_AUTOQUOTE
Replacing [[-1]] to NaN in Attribute KBA13_BJ_1999
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2000
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2004
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2006
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2008
Replacing [[-1]] to NaN in Attribute KBA13_BJ_2009
Replacing [[-1]] to NaN in Attribute KBA13_BMW
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1200
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1400
Replacing [[-1]] to NaN in Attribute KBA13_CCM_0_1400
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1400_2500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1600
Replacing [[-1]] to NaN in Attribute KBA13_CCM_1800
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2500
Replacing [[-1]] to NaN in Attribute KBA13_CCM_2501
Replacing [[-1]] to NaN in Attribute KBA13_CCM_3000
Replacing [[-1]] to NaN in Attribute KBA13_CCM_3001
Replacing [[-1]] to NaN in Attribute KBA13_FAB_ASIEN
Replacing [[-1]] to NaN in Attribute KBA13_FAB_SONSTIGE
Replacing [[-1]] to NaN in Attribute KBA13_FIAT
Replacing [[-1]] to NaN in Attribute KBA13_FORD
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_20
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_25
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_30
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_35
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_40
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_45
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_50
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_55
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_60
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_65
Replacing [[-1]] to NaN in Attribute KBA13_HALTER_66
Replacing [[-1]] to NaN in Attribute KBA13_HERST_ASIEN
Replacing [[-1]] to NaN in Attribute KBA13_HERST_AUDI_VW
Replacing [[-1]] to NaN in Attribute KBA13_HERST_BMW_BENZ
Replacing [[-1]] to NaN in Attribute KBA13_HERST_EUROPA
Replacing [[-1]] to NaN in Attribute KBA13_HERST_FORD_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_HERST_SONST
Replacing [[-1]] to NaN in Attribute KBA13_KMH_110
Replacing [[-1]] to NaN in Attribute KBA13_KMH_140
Replacing [[-1]] to NaN in Attribute KBA13_KMH_180
Replacing [[-1]] to NaN in Attribute KBA13_KMH_0_140
Replacing [[-1]] to NaN in Attribute KBA13_KMH_140_210
Replacing [[-1]] to NaN in Attribute KBA13_KMH_211
Replacing [[-1]] to NaN in Attribute KBA13_KMH_250
Replacing [[-1]] to NaN in Attribute KBA13_KMH_251
Replacing [[-1]] to NaN in Attribute KBA13_KRSAQUOT
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_AUDI_VW
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_BMW_BENZ
Replacing [[-1]] to NaN in Attribute KBA13_KRSHERST_FORD_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_KLEIN
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_OBER
Replacing [[-1]] to NaN in Attribute KBA13_KRSSEG_VAN
Replacing [[-1]] to NaN in Attribute KBA13_KRSZUL_NEU
Replacing [[-1]] to NaN in Attribute KBA13_KW_30
Replacing [[-1]] to NaN in Attribute KBA13_KW_40
Replacing [[-1]] to NaN in Attribute KBA13_KW_50
Replacing [[-1]] to NaN in Attribute KBA13_KW_60
Replacing [[-1]] to NaN in Attribute KBA13_KW_0_60
Replacing [[-1]] to NaN in Attribute KBA13_KW_70
Replacing [[-1]] to NaN in Attribute KBA13_KW_61_120

Replacing [[-1]] to NaN in Attribute KBA13_KW_80
Replacing [[-1]] to NaN in Attribute KBA13_KW_90
Replacing [[-1]] to NaN in Attribute KBA13_KW_110
Replacing [[-1]] to NaN in Attribute KBA13_KW_120
Replacing [[-1]] to NaN in Attribute KBA13_KW_121
Replacing [[-1]] to NaN in Attribute KBA13_MAZDA
Replacing [[-1]] to NaN in Attribute KBA13_MERCEDES
Replacing [[-1]] to NaN in Attribute KBA13_MOTOR
Replacing [[-1]] to NaN in Attribute KBA13_NISSAN
Replacing [[-1]] to NaN in Attribute KBA13_OPEL
Replacing [[-1]] to NaN in Attribute KBA13_PEUGEOT
Replacing [[-1]] to NaN in Attribute KBA13_RENAULT
Replacing [[-1]] to NaN in Attribute KBA13_SEG_GELAENDEWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_GROSSRAUMVANS
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KLEINST
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KLEINWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_KOMPAKTKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MINIVANS
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MINIWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_MITTELKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_OBEREMITTELKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_OBERKLASSE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_SONSTIGE
Replacing [[-1]] to NaN in Attribute KBA13_SEG_SPORTWAGEN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_UTILITIES
Replacing [[-1]] to NaN in Attribute KBA13_SEG_VAN
Replacing [[-1]] to NaN in Attribute KBA13_SEG_WOHNMOBILE
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_4
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_5
Replacing [[-1]] to NaN in Attribute KBA13_SITZE_6
Replacing [[-1]] to NaN in Attribute KBA13_TOYOTA
Replacing [[-1]] to NaN in Attribute KBA13_VORB_0
Replacing [[-1]] to NaN in Attribute KBA13_VORB_1
Replacing [[-1]] to NaN in Attribute KBA13_VORB_1_2
Replacing [[-1]] to NaN in Attribute KBA13_VORB_2
Replacing [[-1]] to NaN in Attribute KBA13_VORB_3
Replacing [[-1]] to NaN in Attribute KBA13_VW
Replacing [[-1, 0]] to NaN in Attribute KKK
Replacing [[-1, 0]] to NaN in Attribute NATIONALITAET_KZ
Replacing [[-1]] to NaN in Attribute ORTSGR_KLS9
Replacing [[-1]] to NaN in Attribute OST_WEST_KZ
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG1
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG2
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG3
Replacing [[-1]] to NaN in Attribute PLZ8_ANTG4
Replacing [[-1]] to NaN in Attribute PLZ8_GBZ
Replacing [[-1]] to NaN in Attribute PLZ8_HHZ
Replacing [[-1, 0]] to NaN in Attribute PRAEGENDE_JUGENDJAHRE
Replacing [[-1, 0]] to NaN in Attribute REGIOTYP
Replacing [[-1, 9]] to NaN in Attribute RELAT_AB
Replacing [[0]] to NaN in Attribute RETOURTYP_BK_S
Replacing [[-1, 9]] to NaN in Attribute SEMIO_DOM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_ERL
Replacing [[-1, 9]] to NaN in Attribute SEMIO_FAM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KAEM
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KRIT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_KULT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_LUST
Replacing [[-1, 9]] to NaN in Attribute SEMIO_MAT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_PFLICHT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_RAT
Replacing [[-1, 9]] to NaN in Attribute SEMIO_REL
Replacing [[-1, 9]] to NaN in Attribute SEMIO_SOZ
Replacing [[-1, 9]] to NaN in Attribute SEMIO_TRADV
Replacing [[-1, 9]] to NaN in Attribute SEMIO_VERT
Replacing [[-1]] to NaN in Attribute SHOPPER_TYP
Replacing [[-1]] to NaN in Attribute SOHO_FLAG
Replacing [[-1, 0]] to NaN in Attribute TITEL_KZ
Replacing [[-1]] to NaN in Attribute VERS_TYP
Replacing [[-1, 0]] to NaN in Attribute WOHNDAUER_2008
Replacing [[-1]] to NaN in Attribute WOHNLAGE
Replacing [[-1, 0]] to NaN in Attribute WACHSTUMSGEBIET_NB
Replacing [[-1, 0]] to NaN in Attribute W_KEIT_KIND_HH
Replacing [[-1, 9]] to NaN in Attribute ZABEOTYP

### Missing values

Now that we have replaced all the unkowns to np.nan's we can now look at how many missing values each column contains and decide whether to keep a column for further analysis.

In [106]:
def get_missing_report(df):
    """
    Takes in a dataframe and returns a dataframe with information about column-wise missing values percentages.
    """
    missing_percen = df.isna().sum() * 100/ len(df)
    
    missing_percen_df = pd.DataFrame({"Attribute": df.columns,
                                     "Missing_Percentage": missing_percen}).reset_index(drop=True)
    return missing_percen_df

In [108]:
customer_missing_report = get_missing_report(customers)
azdias_missing_report = get_missing_report(azdias)

In [116]:
print("Total No of columns in Customers - ", len(customers.columns))
print("No of columns with missing values in customers - ",
      len(customer_missing_report[customer_missing_report.Missing_Percentage > 0]))

print("Total No of columns in Azdias - ", len(azdias.columns))
print("No of columns with missing values in azdias - ",
      len(azdias_missing_report[azdias_missing_report.Missing_Percentage > 0]))

Total No of columns in Customers -  369
No of columns with missing values in customers -  279
Total No of columns in Azdias -  366
No of columns with missing values in azdias -  279

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')